body {
	font-family: sans-serif ;
	background: #0a2d39;
	color: white;
}

article{
		border: 2px dashed #16617b;
	border-radius: 15px;
	padding: 15px;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
	margin-top: 15px;
}

a{
	color: white;
	font-size: 110%;
}

li{
	padding: 10px 0px;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
